extend layout
block content
  h1
    = title
  .card
    div.list-group.list-group-flush
      each val, index in repos
        a.list-group-item.list-group-item-action(href='/' + index)
          h5
            i.material-icons="folder_open" 
            = ' ' + index
          p
            = val