extend layout
block content
  .card
    ul.list-group.list-group-flush
      each val, index in repos
        li.list-group-item
          a(href='/' + index)
            i.material-icons="folder_open" 
            = ' ' + index